.aaaContainer {
    margin:3rem;
    height:70%;
    width:auto;
}
.aaaContainer .image1{
    position: relative;
    z-index:1;
    filter: drop-shadow(16px 16px 20px);
}
.aaaContainer .image2{
    position:relative;
    right:6.5rem;
    top:15.5rem;
    filter: drop-shadow(16px 16px 20px);
}

