/* PAGE LEVEL CSS */
/* To avoid Text Distortion */
body{
    text-shadow: 0px 0px 1px #fff;
}
/* To avoid Button border induced by User agent on click */
input[type="button"]:focus,button:focus {
    outline: none !important;
}

/* Start of Top Nav */
.header{
    background-color: #000;
    padding-top:0.15rem !important;
}
.header a{
    color:#fff !important;
    font-size:0.55rem;
}
.header a.nav-link:hover{
    border-top:1px solid #33DDFF;
}
.header a.nav-link{
    padding: 1rem 1rem;
}
.header a:hover, dropdown-item:hover{
    color:#33DDFF !important;
    background-color: transparent;
}

.header .collapse ul li{
    margin-right:1rem;
}
.header .collapse ul li div{
    background-color: #000;
    margin:.45rem 0 0;
    border-radius:0;
    font-size:0.55rem;
}
.header .leftLogo{
    padding-left:15rem;
}
.header .rightLogo{
    padding-right:15rem;
}
.header .collapse{
    padding-left:8rem;
}

/** Media Queries for small devices **/
@media (max-width: 575.98px) {
    .navbar .leftLogo{ padding-left:0rem; }
}

/**

TO DO
1. HINT to achieve top highlight on hover over of Nav menu items
https://stackoverflow.com/questions/4131490/any-way-to-limit-border-length

2. On hover over the menu item, add class 'show' else dropdown fades off and disrupts user action on it.
.collapse ul li:hover >div {
    display: block;
}

**/
/* END of Top Nav */

/* START of HERO IMAGE Component */
.aaaContainerForHeroImage {
    margin-top:0rem;
    //padding-left:3rem;
    //padding-right:3rem;
    background-color: #000;
    color:#fff;
}
.aaaContainerForHeroImage .jumbotron{
    max-width:70%;
    background-color:transparent;
    padding-left:10rem;
    padding-top:10rem;
}
.aaaContainerForHeroImage .heroImageHolder{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../../../images/adobeSummitPresenter.JPG");
    height: 75%;
    background-repeat: no-repeat;
    background-size: cover;
}
.aaaContainerForHeroImage .jumbotron .rectButton{
    width: 9rem;
    height: 2rem;
    font-size: 0.70rem;
    background-color: #33DDFF;
    border: 0;
    font-family: Avenir;
    font-weight: bold;
    margin-bottom:1rem
}
.aaaContainerForHeroImage .jumbotron .h1Title{
    font-size: 2rem;
    font-family: Avenir;
    font-weight: bold;
}
.aaaContainerForHeroImage .jumbotron .pTag{
    font-size: 0.65rem;
    margin-bottom: 2rem;
}
.aaaContainerForHeroImage .jumbotron .row{
    margin-left:0.1rem;
}
.aaaContainerForHeroImage .jumbotron .row p{
    margin-left:0.5rem;
    line-height:1rem;
    font-weight:bold;
    font-style:Avenir;
}
.aaaContainerForHeroImage .jumbotron .row button{
    margin-left:3rem;
    position:relative;
    bottom:0.5rem;
    background-color: transparent;
    border:2px solid #33DDFF;
    color:#33DDFF;
    font-family: Avenir;
    font-weight:bold;
    font-size:0.75rem;
    border-radius:3rem;
    padding-left:1rem;
    padding-right:1rem;

}
.aaaContainerForHeroImage .jumbotron .divider{
    width: 0.5rem;
    border-left: 1px solid #fff;
    position: relative;
    bottom: 0.5rem;
    padding: 0.5rem;
    margin-left: 1rem;
}
.aaaContainerForHeroImage .jumbotron svg{
    fill:#33DDFF;
    stroke:#33DDFF;
}
/* END of HERO IMAGE Component */

/* START of TABS */
.aaaContainerforCardEventIndex{
    padding:5rem;
    background-color: #000;
}
.aaaContainerforCardEventIndex .outerTab{
padding-left:40%;
}
.outerTab .nav-item a{
    font-family:Avenir;
    font-size:1.5rem;
    font-weight:500;
    color:#fff;
}
.outerTab .nav-item a.active{
    background-color: transparent !important;
    color:#fff !important;
    font-weight: bold;
}
.aaaContainerforCardEventIndex .globalTab{
    padding-left:20%;
}
.globalTab .nav-item{
    padding-bottom: 2rem;
}
.globalTab .nav-item a{
    font-family:Avenir;
    font-size:0.6rem;
    font-weight:500;
    color:#fff;
}
.globalTab .nav-item a.active{
    border-radius:0rem;
    background-color: transparent !important;
    border-bottom: 1px solid #33DDFF;
    color:#fff !important;
    font-weight: bold;
}
.aaaContainerforCardEventIndex .card-columns{
    padding-left:20%;
    max-width:85%; /* TO be removed after first deadline*/
}
.aaaContainerforCardEventIndex .card-columns .card{
    width:15rem;/* TO be removed after first deadline*/
    border-radius:0px;
    margin-right:0.25rem;
    margin-left:0.25rem;
    border:0rem;
}
.aaaContainerforCardEventIndex .card-columns .card .card-img-top{
    border-radius: 0rem !important;
    height:10rem;
    object-fit:cover;
}
.aaaContainerforCardEventIndex .card-columns .largeCard{
    width:52.5%;
}
.aaaContainerforCardEventIndex .card-columns .largeCard .card-body{

}
.aaaContainerforCardEventIndex .card-body{
    padding-top:1rem!important;
    background-color: #263138;
    color:#fff;
    min-height:27.75%;
}
.aaaContainerforCardEventIndex .card-body small {
    color:#33DDFF;
    font-size:0.5rem;
}
.aaaContainerforCardEventIndex .card-body h5 {
    margin-top:0.5rem;
}
.aaaContainerforCardEventIndex .card .cardImgBtn{
    position: absolute;
    top: 8rem;
    width: 9rem;
    height: 2rem;
    font-size: 0.70rem;
    background-color: #fff;
    border: 1px solid #DCDCDC;
    font-family: Avenir;
    font-weight: bold;
    padding-top:0.25rem;
}
.aaaContainerforCardEventIndex .card-footer{
    background-color: #A9A9A9!important;
    text-align:center;
    padding:0.45rem!important;
    border-radius: 0px!important;
}
.aaaContainerforCardEventIndex .card-footer small{
    font-size:0.75rem;
    font-family: sans-serif;
    font-weight:bold;
}
.aaaContainerforCardEventIndex .card-body-small small{
    text-shadow: 0px 0px 1px transparent;
    color:darkgray;
    font-weight:normal;
}
/* END of TABS */
/* START of CSS for Footer Component */
.footer{
    background-color: #000;
}
.footer .collapse{
    padding-left:20rem;
}
.footer .leftLogo{
    padding-left:10rem;
}
.footer a{
    color:#fff !important;
    font-size:0.55rem;
}
.footer a:hover{
    color:#08e8de !important;
    background-color: transparent;
}
/* END of CSS for Footer Component */